<div fxLayout="column" class="card-skeleton">

    <div class="body-padding body-bottom-padding">

        <!-- CARD CONTENT -->
        <div fxLayout="column" class="card-content-margin" fxLayoutGap="8px">

            <div fxLayout="column" class="pl-8">
                <div fxLayout="row" class="skeleton w-160"></div>
            </div>

            <div fxLayout="row" class="card-item">
                <div class="skeleton mr-20" fxFlex="140px"></div>
                <div class="skeleton" fxFlex></div>
            </div>

            <div fxLayout="row" class="card-item">
                <div class="skeleton mr-20" fxFlex="140px"></div>
                <div class="skeleton" fxFlex></div>
            </div>

            <div fxLayout="row" class="card-item">
                <div class="skeleton mr-20" fxFlex="140px"></div>
                <div class="skeleton" fxFlex></div>
            </div>

            <div fxLayout="row" class="card-item">
                <div class="skeleton mr-20" fxFlex="140px"></div>
                <div class="skeleton" fxFlex></div>
            </div>

            <div fxLayout="row" class="card-item">
                <div class="skeleton mr-20" fxFlex="140px"></div>
                <div class="skeleton" fxFlex></div>
            </div>
        </div>
    </div>
    <!-- CARD CONTENT -->

</div>