
#dialog-close {
    mat-icon {
        width: 16px !important;
        height: 16px !important;
        font-size: 16px;
    }
}

#dialog-body {
    padding: 8px 22px 22px 24px;
}

#dialog-header {
    margin-bottom: -2px;
}

#dialog-buttons {
    padding-bottom: 48px;
}
